/**
 * adamjcox.co.uk
 * @author Adam Cox adamdama@hotmail.com
 */

/**
 * Config
 */
$support-for-original-webkit-gradients : false;

@import "compass/css3/images";

/**
 * Import Icon images as spritesheet
 */

$icons: sprite-map("icons/*.png"); // contains icons/new.png among others.

/**
 * Variables
 */
$headerHeight: 60px;
$tabHeight: 60px;
$navWidth: 320px;

/**
 * Mixins
 */

@mixin block100 {
	width: 100%;
	height: 100%;
	display: block;
}

@mixin sq($l) {
	width: $l;
	height: $l;
}

/**
 * Fonts:
 * font-family: 'Sarina', cursive;
 * font-family: 'Tulpen One', cursive;
 */

@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Sintony);
@import url(http://fonts.googleapis.com/css?family=Days+One);

*:selection {
	color: #999999;
}

a {
	font-weight: bold;
	color: inherit;
	text-decoration: none;

	&:visited {
		@extend a;
	}

	&:hover {

	}
}

html {
	@include sq(100%);
}

body {
	@include sq(100%);
	position: relative;
	font-family: 'Noto Sans', sans-serif;
}

#container {
	height: 100%;
	position: relative;

	#nav	{
		width: $navWidth;
		height: 100%;
		position: absolute;

		text-align: right;
		background-color: #C8C8C8;

		header {
			height: $headerHeight;
			padding-right: 17px;
			font-family: 'Days One', sans-serif;

			font-size: 30px;
			line-height: $headerHeight;
			background-color: #F5F5F5;
			border-bottom: 1px solid #464646;

			a	{
				@include block100;
			}

			.icon {
				display: block;
				float: left;
				@include sq(32px);
				margin: 10px 0 0 10px;

				&.github-32 {
					background: sprite($icons, github-32) no-repeat;
				}

				&.linkedin-32 {
					background: sprite($icons, linkedin-32) no-repeat;
				}

				&.twitter-32 {
					background: sprite($icons, twitter-32) no-repeat;
				}
			}
		}

		.nav-border {
			position: fixed;
			top: 0;
			left: $navWidth - 4px;
			width: 4px;
			height: 100%;

			border-left: 1px solid #464646;
			border-right: 1px solid #464646;
			@include background-image(linear-gradient(to right, #f0f0f0 30%,#b4b4b4 100%));
		}

		nav{
			li {
				height: $tabHeight;
				width: 100%;
				position: relative;

				font-family: 'Sintony', sans-serif;
				font-size: 14px;
				line-height: $tabHeight;
				@include background-image(linear-gradient(to bottom, #f0f0f0 30%,#b4b4b4 100%));
				border-bottom: 1px solid #464646;

				span {
					display: block;
					padding-right: 30px;
				}

				&.active {
					span:after {
						content: '';
						border-color: transparent white;
						border-style: solid;
						border-width: 30px 30px 30px 0px;
						height: 0px;
						width: 0px;
						position: absolute;
						top: 0;
						right: -4px;
						z-index:  100;
						display: block;
						-webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
						filter:url(../img/svg/shadow.svg#drop-shadow);
						-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=90, Color='rgba(0,0,0,0.3)')";
						filter:progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=90,Color='rgba(0,0,0,0.3)');
					}
				}
			}
		}
	}

	#content {
		height: 100%;
		margin-left: $navWidth + 2px;
		position: relative;
		z-index: 200;

		background: #ffffff;

		h1 {
			font-size: 24px;
			margin: 0;
			padding: 0;

			font-family: 'Sintony', sans-serif;
			border-bottom: 1px solid #464646;
			line-height: 46px;
		}

		> div {
			display: none;
			position: relative;
			max-width: 700px;
			padding: 15px;

			&.active {
				display: block;
			}
		}
	}
}