/**
 * adamjcox.co.uk
 * @author Adam Cox adamdama@hotmail.com
 */

@import "compass/css3/text-shadow";
@import "compass/css3/images";
@import "compass/css3/inline-block";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

/**
 * Import Icon images as spritesheet
 */

@import "icons/*.png";
@include all-icons-sprites;

/**
 * Mixins
 */

@mixin block100 {
	width: 100%;
	height: 100%;
	display: block;
}

@mixin sq($l) {
	width: $l;
	height: $l;
}

/**
 * Variables
 */
$headerHeight: 55px;

/**
 * Fonts:
 * font-family: 'Sarina', cursive;
 * font-family: 'Tulpen One', cursive;
 */

*:selection {
	color: #999999;
}

a {
	font-weight: bold;
	color: inherit;
	text-decoration: none;

	&:visited {
		@extend a;
	}

	&:hover {

	}
}

html {
	@include sq(100%);
}

body {
	@extend html;
	background-image: url('../img/texture.jpg');
	position: relative;
}

#container {
	height: auto;
	min-height: 100%;
	position: relative;

	header {
		&.site {
			height: $headerHeight;
			position: relative;
			z-index: 5;
			float: left;
			width: 100%;

			font-size: 1.8em;
			text-transform: uppercase;
			color: #222;
			@include text-shadow(1px 1px 1px #DDD);
			border-bottom: 2px solid #2f2f2f;
			background-color: #141414;
		}
	}

	#nav	{
		position: absolute;
		top: $headerHeight;
		bottom: 0;
		left: 0;
		right: $navWidth;
		width: auto;
		z-index: 4;
		float: left;

		@include box-shadow(10px -6px 80px 10px #444);

		.nav-border {
			height: 100%;
		}

		li {
			height: 30px;
			width: 160px;
			padding: 15px;
			position: relative;

			background-color: #141414 ;
			@include background-image(linear-gradient(bottom, #141414 35%, #4F4F4F 68%));
			border-bottom: 2px solid #222;
			color: #e9e9e9;
			font-size: 20px;
			text-align: right;

			a	{
				@include block100;
			}

			span {
				@include block100;
			}
		}
	}

	#content {
		overflow: hidden;
		border: 4px solid #111111;
		z-index: 10;
		@include border-radius(8px, 8px);

		> div {
			display: none;
			position: relative;
			height: 100%;
			background: #f7f7f7;

			&.active {
				display: block;
			}
		}
	}
}